
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{{.Title}}</title>
  <link rel='stylesheet' href='https://rawgit.com/mblode/marx/master/css/marx.min.css'>
  <style> main {  max-width: 1200px; } </style>
</head>
<body>
  <main>
  <center class="hero">
    <h1>{{.Title}}</h1>
    <h3 id="tagline">{{.Subtitle}}</h3>
    <p>{{range $Tag := .Tags}} <a href="?tag={{$Tag}}" >{{$Tag}}</a> {{end}}<p>
  </center>
  {{range $Post := .Posts}}
    <h3 id="{{$Post.Name}}"><a href="/posts/{{$Post.Name}}">{{$Post.Title}}</a></h3>
    <p>{{$Post.Content}}</p>
    <br>
  {{end}}
  <center class="hero">
    <br><small>{{.PrevPage}} / {{.ActualPage}} / {{.NextPage}}</small>
    <p></p>
  </center>
  <footer>
    <p>&copy; {{.Year}} &middot; <a href="{{.AuthorURL}}" target="_blank">{{.Author}}</a></p>
  </footer>
  </main>
<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
</body>
</html>
